[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-docx = "*"
xlsxwriter = "*"
regex = "*"
emoji = "*"
pyinstaller = "*"
pickle-mixin = "*"
xlrd = "*"
libsdl-ttf2-0-0 = "*"
pandas = "*"
matplotlib = "*"
instaloader = "~=4.2.10"

[requires]
python_version = "3.6"
