[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
instaloader = "*"
python-docx = "*"
xlsxwriter = "*"
regex = "*"
emoji = "*"
pyinstaller = "*"
pickle-mixin = "*"

[requires]
python_version = "3.6"
